body {
  padding: 0;
}

.page-wrapper {
  max-width:550px;
  margin-right: auto;
  margin-left: auto;
  padding:15px;
}

.page-wrapper .logo-img {
  margin-top:-10px;
}


.main {
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
}

.sidebar {
  display:inline-block;
  width:19.5%;
  vertical-align: top;
  height:100%;
  background:#4d394b;
  position:relative;
  overflow-y:scroll;
  padding-bottom:100px;
}

.sidebar .slack-name {
  background:#3E313C;
  padding:15px 0px 15px 15px;
}

.sidebar .slack-name h2{
  color:#fff;
  font-size:18px;
  font-weight:bold;
  margin-top:0px;
  margin-bottom:0px;
}

.sidebar .channel-list {
  margin-top:20px;
  background:#4d394b;
  position:relative;
}

.sidebar .channel-list .channel a{
  display:block;
  color:rgba(255,255,255,0.6);
  padding:3px 0px 3px 15px;
  width:90%;
  font-weight:300;

  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.sidebar .channel-list .channel a:hover{
  text-decoration: none;
  background:#3E313C;
}

.sidebar .channel-list .channel a.selected{
  background:#4c9689;
  color:#fff;
  text-decoration: none !important;
}

.sidebar .channel-list .channel.create {
  font-style: italic;
}

.sidebar .channel-list .list-head {
  margin-top:10px;
  color: #fff;
  font-weight: bold;
  margin-left: 10px;
  text-transform: uppercase;
}

.sidebar .my-info {
  position:fixed;
  bottom:0;
  padding:15px;
  background:#3E313C;
  width:19.5%;
}

.sidebar .my-info .user-pic {
  display: inline-block;
  vertical-align: top;
  width:44px;
  height:44px;
  border-radius:4px;
}

.sidebar .my-info .user-info {
  padding-left:5px;
  display: inline-block;
  vertical-align: top;
}

.sidebar .my-info .user-info .user-name {
  color:#fff;
  font-size:16px;
  font-weight:bold;
}

.sidebar .my-info .user-info .options {
  color:#999;
  font-size:12px;
}

.sidebar .my-info .user-info .options a{
  color:#999;
  font-size:12px;
}

.sidebar .presence {
  border-radius: 50%;
  display: inline-block;
  position: relative;
  width: 10px;
  height: 10px;
  background: #ab9ba9;
  vertical-align: middle;
}

.sidebar .presence.online {
  background: #99d04a;
}

.message-pane {
  display:inline-block;
  vertical-align: top;
  height:100%;
  width:80%;
  overflow-y:scroll;
  padding:55px 15px 65px 15px;
}

.message-pane .header {
  position:fixed;
  top:0;
  background:#fff;
  width:100%;
  z-index:2;
}

.message-pane .header h1 {
  padding:12px 0 10px 0;
  margin-top:0px;
  margin-bottom:0px;
  font-size:24px;
  color:#555459;
  font-weight:900;
}

.message-pane .message-form {
  position:fixed;
  bottom:0;
  padding:0 15px 15px 0;
  background:#fff;
  width:79%;
}

.message-pane .message-wrap {
  position:relative;
  margin-top:15px;
}

.message-pane .message-wrap .user-pic {
  width:36px;
  height:36px;
  border-radius:4px;
  display: inline-block;
  vertical-align: top;
}

.message-pane .message-wrap .message-info {
  display: inline-block;
  vertical-align: top;
  padding-left:5px;
}

.message-pane .message-wrap .message-info .user-name {
  color:#555459;
  font-weight:900;
}

.message-pane .message-wrap .message-info .user-name span{
  color:#ccc;
  font-weight: normal;
  font-size:10px;
}
/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  outline: none;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/*
 * Basic Ghost Button
 */
.ghost-button {
  display: inline-block;
  width: 200px;
  padding: 8px;
  color: #fff;
  border: 1px solid #fff;
  text-align: center;
  outline: none;
  text-decoration: none;
}
.ghost-button:hover,
.ghost-button:active {
  background-color: #fff;
  color: #000;
}

/*
 * Rounded Corners
 */
.ghost-button-rounded-corners {
  display: inline-block;
  width: 200px;
  padding: 8px;
  color: #fff;
  border: 2px solid rgba(255, 255, 255, 0.64);
  border-radius: 13px;
  text-align: center;
  outline: none;
  text-decoration: none;
  font-family: Roboto;
  width: 300px;
  height: 50px;
  font-size: 24px;
  padding: 13px;
  padding-bottom: 40px;
  padding-top: 16px;
}
.ghost-button-rounded-corners:hover,
.ghost-button-rounded-corners:active {
  background-color: #fff;
  color: #000;
}

/*
 * Simple Transition Effect
 */
.ghost-button-transition {
  display: inline-block;
  width: 200px;
  padding: 8px;
  color: #fff;
  border: 2px solid #fff;
  text-align: center;
  outline: none;
  text-decoration: none;
  -webkit-transition: background-color 0.2s ease-out, color 0.2s ease-out;
  transition: background-color 0.2s ease-out,
  color 0.2s ease-out;
}
.ghost-button-transition:hover,
.ghost-button-transition:active {
  background-color: #fff;
  color: #000;
  -webkit-transition: background-color 0.3s ease-in, color 0.3s ease-in;
  transition: background-color 0.3s ease-in,
  color 0.3s ease-in;
}

/*
 * Thick Border
 */
.ghost-button-thick-border {
  display: inline-block;
  width: 200px;
  font-weight: bold;
  padding: 8px;
  color: #fff;
  border: 3px solid #fff;
  text-align: center;
  outline: none;
  text-decoration: none;
  -webkit-transition: background-color 0.2s ease-out, color 0.2s ease-out;
  transition: background-color 0.2s ease-out,
  color 0.2s ease-out;
}
.ghost-button-thick-border:hover,
.ghost-button-thick-border:active {
  background-color: #fff;
  color: #000;
  -webkit-transition: background-color 0.3s ease-in, color 0.3s ease-in;
  transition: background-color 0.3s ease-in,
  color 0.3s ease-in;
}

/*
 * Semi-Transparent Fade
 */
.ghost-button-semi-transparent {
  display: inline-block;
  width: 200px;
  padding: 8px;
  color: #fff;
  border: 2px solid #fff;
  text-align: center;
  outline: none;
  text-decoration: none;
  -webkit-transition: background-color 0.2s ease-out, border-color 0.2s ease-out;
  transition: background-color 0.2s ease-out,
  border-color 0.2s ease-out;
}
.ghost-button-semi-transparent:hover,
.ghost-button-semi-transparent:active {
  background-color: #fff; /* fallback */
  background-color: rgba(255, 255, 255, 0.4);
  border-color: #fff; /* fallback */
  border-color: rgba(255, 255, 255, 0.4);
  -webkit-transition: background-color 0.3s ease-in, border-color 0.3s ease-in;
  transition: background-color 0.3s ease-in,
  border-color 0.3s ease-in;
}

/*
 * Border Color Fade
 * Blue: #66d8ed
 */
.ghost-button-border-color {
  display: inline-block;
  width: 200px;
  padding: 8px;
  color: #fff;
  border: 2px solid #fff;
  text-align: center;
  outline: none;
  text-decoration: none;
  -webkit-transition: border-color 0.3s ease-out, color 0.3s ease-out;
  transition: border-color 0.3s ease-out,
  color 0.3s ease-out;
}
.ghost-button-border-color:hover,
.ghost-button-border-color:active {
  color: #66d8ed;
  border-color: #66d8ed;
  -webkit-transition: border-color 0.4s ease-in, color 0.4s ease-in;
  transition: border-color 0.4s ease-in,
  color 0.4s ease-in;
}

/*
 * Full Color Fade
 * Purple: #9363c4
 */
.ghost-button-full-color {
  display: inline-block;
  width: 200px;
  padding: 8px;
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  text-align: center;
  outline: none;
  text-decoration: none;
  -webkit-transition: color 0.3s ease-out, background-color 0.3s ease-out, border-color 0.3s ease-out;
  transition: color 0.3s ease-out,
  background-color 0.3s ease-out,
  border-color 0.3s ease-out;
}
.ghost-button-full-color:hover,
.ghost-button-full-color:active {
  background-color: #9363c4;
  border-color: #9363c4;
  color: #fff;
  -webkit-transition:color 0.3s ease-in, background-color 0.3s ease-in, border-color 0.3s ease-in;
  transition: color 0.3s ease-in,
  background-color 0.3s ease-in,
  border-color 0.3s ease-in;
}

/*
 * Size Transition Effect
 */
.ghost-button-size-transition {
  display: inline-block;
  width: 200px;
  height: 25px;
  line-height: 25px;
  margin: 0 auto;
  padding: 8px;
  color: #fff;
  border: 2px solid #fff;
  text-align: center;
  outline: none;
  text-decoration: none;
  -webkit-transition: width 0.3s ease-out, height 0.3s ease-out, line-height 0.3s ease-out;
  transition: width 0.3s ease-out,
  height 0.3s ease-out,
  line-height 0.3s ease-out;
}
.ghost-button-size-transition:hover,
.ghost-button-size-transition:active {
  width: 220px;
  height: 45px;
  line-height: 45px;
  -webkit-transition: width 0.1s ease-in, height 0.1s ease-in, line-height 0.1s ease-in;
  transition: width 0.1s ease-in,
  height 0.1s ease-in,
  line-height 0.1s ease-in;
}

/* Basic */
body {
  color: #fff;
  background: #000 url(img/bg.jpg) no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
  font: 300 18px/22px "Raleway", sans-serif;
}

/* Typography */
h1, h2 {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 300;
}
h1 {
  font-size: 54px;
  line-height: 65px;
  letter-spacing: 0.1em;
}
h2 {
  margin: 40px auto 10px auto;
  font-size: 27px;
  line-height: 33px;
}

/* Layout */
.container {
  width: 90%;
  max-width: 960px;
  margin: 50px auto 50px auto;
  text-align: center;
}

/* Media Queries */
@media (max-width: 420px) {
  h1 {
    font-size: 32px;
    line-height: 38px;
  }
  h2 {
    font-size: 22px;
    line-height: 27px;
  }
  p {
    font-size: 16px;
    line-height: 20px;
  }
}
